.cart-container {
    background-color: orange;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .cart-title {
    margin-top: 0;
  }
  
  .cart-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }
  
  .cart-item-img {
    flex: 0 0 25%;
    margin-right: 10px;
  }
  
  .cart-item-img img {
    width: 100%;
    height: auto;
  }
  
  .cart-item-details {
    flex: 0 0 75%;
  }
  
  .cart-item-details h3 {
    margin-top: 0;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 }
